{% load static %}

<div class="header"> 
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <nav class="navbar ">
        
    </nav>
    <div class="list">
        <ul class="navbar-nav">
            <li class="başlık">
                <a href="#">IMDb Top 250</a>
            </li>

            <li>
                <a href="#">What Should I Watch Next?</a>
            </li>
            <li>
                <a href="#">WatchList </a>
            </li>
            <li>
                <a href="#" >Sign In </a>
            </li>              
        </ul>
    </div>
</div>